{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1>{{ item.name }}</h1>
        </div>
        <div class="row">
            <img src="https://cdn.jsdelivr.net/gh/StonyTV/dofus-temporis-v-cards@latest/items/200/{{ item.itemId }}.png" alt="Symfony!"/>
        </div>
    </div>
{% endblock %}s