{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1>{{ item.name }}</h1>
            <img src="{{ asset('images/items/40/' ~ item.itemId ~ '.png') }}" alt="Symfony!"/>
        </div>
    </div>
{% endblock %}